<div class="footer" style="position:fixed;bottom:0;width:100%;">
    <div class="container-fluid">
        <div class="row">
            <div class="ml-auto">
                <a href="http://www.markjclark.info">Author</a>
            </div>
        </div>
    </div>
</div>