<!-- Sidebar  -->
<nav id="left_sidebar" style="float:left">
  <div class="sidebar-header">
    <h3>Sample Project</h3>
  </div>

  <ul class="list-unstyled components">
    <li class="active">
      <a href="#">Menu Item 1</a>
    </li>
    <li>
      <a href="#submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Menu Item 2</a>
      <ul class="collapse list-unstyled submenu" id="submenu">
        <li>
          <a href="#">Sub-menu Item 1</a>
        </li>
        <li>
          <a href="#">Sub-menu Item 2</a>
        </li>
        <li>
          <a href="#">Sub-menu Item 3</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>